@{ ViewBag.Title = "My Areas";
    Layout = "~/Views/Moderate/_LayoutModerate.cshtml";
   List<PlaceWithModDetails> modsPlaces = ViewBag.ModeratorPlaces;
   List<ModAction> modsActions = ViewBag.ModeratorActions;
   
    }

<style type="text/css"> 
    td { line-height:14px }
</style>


<div class="listContent">

<div style="width:65%;float:left">

    <fieldset style="padding:6px"><legend>Areas I moderate</legend>

        @Html.Partial("Partials/ModeratorsClaims", modsPlaces)

    </fieldset>

    @if (modsActions.Count > 0)
    {

    <fieldset><legend>Latest edits to my areas</legend>

        <ul style="padding:0;margin:0">
            @foreach (var p in modsActions)
            { <li>
                @Html.UserProfileLink(p.UserID)
                @((ModActionType)p.TypeID)
                @Html.PlaceLink(p.OnObjectID)
                @p.Utc.GetAgoStringUtc() 
                </li> }
        </ul>

    </fieldset>
    }
</div>

<div style="width:30%;float:right">

    <fieldset><legend>Areas that need to be claimed</legend>

        <p>When we get around to setting a home location on your profile and see where you're actively climbing, 
        we'll use that information to suggest areas that you climb at that need ownership.</p>

        <p>Claiming areas local to you is a particularly good way to find out about climbing near you that you didn't know about.</p>

    </fieldset>

</div>


</div>