@{ CfPageTitleMaster.Set("Opinion");
   Opinion o = ViewBag.Opinion;
   var obj = AppLookups.GetCacheIndexEntry(o.ObjectID);
   IUserBasicDetail user = ViewBag.User;
}

<div id="col2-left">
    <h1 style="font-size:24px">@Html.UserProfileLink(o.UserID) on @obj.Name</h1>   

    <div style="margin:30px 0">

        <div style="float:left;margin-right:10px;width:50px">
            @Html.UserPicThumb(o.UserID) 
        </div>   
    
        <div style="float:left">
            <div style="margin-top:-3px">
                @Html.StarImage(o.Rating) / 5 stars on @o.Utc.GetHappenedStringUtc()
                <p style="color:Black;font-size:14px;width:500px;margin-top:5px">@o.Comment</p>
            </div>
        </div>
        <hr />
    </div>
    
    @Html.Partial("Forms/PostCommentFormWithCommentsList", new NewCommentWithCommentsListViewModel())

</div>
<div id="col2-right">

    <div class="sidemenu navOptions">
    <h3>Options</h3>
        <ul>
            <li>@(Html.ActionLink<OpinionsController>(c => c.ListUser(user.ID), "All opinions by " + user.DisplayName))</li>
            <li>@(Html.ActionLink<OpinionsController>(c => c.ListObject(o.ObjectID), "All opinions on " + obj.Name))</li>
        </ul>
    </div>

    @*<div class="sidemenu">
        <h3>Others around that time</h3>
        @Html.Partial("Partials/SideMenuCheckInList", closestCI)
    </div>

    <div class="sidemenu">
        <h3>Recent @@ @location.Name</h3>
        @Html.Partial("Partials/SideMenuCheckInList", recentCI)
    </div>
*@

<fieldset class="side-sponsor-ad"><legend>Sponsor</legend>
    <script type="text/javascript"><!--
        google_ad_client = "ca-pub-8929518485692248";
        /* CF4_Area_Sidemenu */
        google_ad_slot = "3964784439";
        google_ad_width = 200;
        google_ad_height = 200;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</fieldset>

@Html.Partial("Ads/SideMenu200x200")

</div>