@inherits PlacesWebViewPage<List<Location>> 
@{ int i = 0; }

<h2>Outdoor climbing locations, i.e rock walls & boulders in @current.Name</h2>

@if (Model.Count > 0)
{ 
    <ul class="places-list">@foreach (var a in Model)
                            {
                                if (i++ % 7 == 0)
                                { <hr /> }
                                <li>
        
        
        <a href="@a.SlugUrl" title="Indoor rock climbing in @a.Name"><b>@if (String.IsNullOrWhiteSpace(a.NameShort))
                                                                        { 
               @a.Name }
                                                                        else
                                                                        { @a.NameShort }</b>
    @if (a.Rating.HasValue)
    { @Html.StarImage(a.Rating) }
    else
    { <i>Not yet rated</i> }
    @if (a.HasAvatar)
    { <img src="@Stgs.ImgsRt/places/od/@a.Avatar" /> }
    else
    { <div class="no-img">No image</div> }                                                                           
                                                                             </a>   
        </li>}
    </ul> 
}
else
{ 
    <div class="mainAddData">
        <p>Climbfind does not know about any outdoor rock wall, boulders or other outdoor climbing locations in @current.Name.</p>
        <label>Help make our <a href="/world-rock-climbing-database" title="Rock climbing database">rock climbing database</a> better:</label>
        @(Html.ActionCssLink<PlacesController>(c => c.LocationOutdoorNew(country.NameUrlPart, current.NameUrlPart), "Add outdoor climbing to " + current.Name, "jBtn"))
    </div>
}

 <hr />

