@{ ViewBag.Title = "Climbfind v5"; }

<style type="text/css"> 
    #content { padding-bottom:0px!important;margin-bottom:0px!important }
    #col1-content p {font-size:13px} </style>
<style type="text/css"> #col1 p {font-size:13px} </style>

<div id="col1"> 

<div id="col1-content">

<h1>Climbfind v5</h1>

<p>Climbfind is a work in progress! </p><p>Although we're now based in San Francisco, USA we actually got started back in London, UK on October 16, 2008
and believe it or not - the founders are AUSTRALIAN! </p>

<p>We've grown up a lot since we started on our mission to connect the climbing world. This is because we have a different strategy
and capability than other climbing sites. We have a progressive and inclusive attitude and aim to evolve ourselves every 6-18 months. The current version <b>"CF4"</b> was released on
released in Oct, 2011.</p>

<p>Climbfind v4 - which we think is far from perfect compared to what we're working on for you next - represents 11 months of planning, coding, testing, designing, marketing, tweeting, blogging & moderating from 
<a href="/team"><b>over 120 passionate volunteers</b></a> who represent
<img src="@Stgs.StaticRt/flags/us.png" /> The USA, 
<img src="@Stgs.StaticRt/flags/ca.png" /> Canada, 
<img src="@Stgs.StaticRt/flags/en.png" /> England, 
<img src="@Stgs.StaticRt/flags/au.png" /> Australia, 
<img src="@Stgs.StaticRt/flags/ar.png" /> Argentina, 
<img src="@Stgs.StaticRt/flags/br.png" /> Brazil,
<img src="@Stgs.StaticRt/flags/fr.png" /> France, 
<img src="@Stgs.StaticRt/flags/be.png" /> Belgium, 
<img src="@Stgs.StaticRt/flags/de.png" /> Germany, 
<img src="@Stgs.StaticRt/flags/it.png" /> Italy, 
<img src="@Stgs.StaticRt/flags/ir.png" /> Ireland, 
<img src="@Stgs.StaticRt/flags/sp.png" /> Scotland, 
<img src="@Stgs.StaticRt/flags/lb.png" /> Lebanon and 
<img src="@Stgs.StaticRt/flags/ma.png" /> Malta.
 </p>

<p><b>The Climbfind Team</b> are a growing posse with the ambition to connect the climbing world across linguistic, culture and physical barriers.
Our work is not finished until <b>YOU</b>
<i>can find someone to climb with anywhere in the world on any given day at the last minute</i> either at home or on the road.</p>

<p>We recognize that Climbfind is currently lacking support for multiple languages. Amongst many other already designed improvements,
 our top priority for CF5 will be to try to support Spanish, French, German, Italian & Portuguese.</p>

<p>If you have a few hours to spare each week, are very dedicated in nature
 and are interested in getting involved in the Global Climbfind project, drop us a line!</p>

<p>Thanks for stopping by, I hope you enjoy using the site as much as we enjoyed making it,</p>

<b>J.K.</b>

</div>

</div>