@{ ViewBag.Title = "Climbfind Mobile"; }

<style type="text/css"> 
    #content { padding-bottom:0px!important;margin-bottom:0px!important }
    #vision-content { background:rgba(255, 255, 255, 0.95);padding:10px 10px 10px 10px }
    #vision-content p {font-size:13px} 
    #col1 p {font-size:13px}
</style>

<div id="col1"> 

<div id="vision-content">
<h1>Climbfind Mobile</h1>

<p>The Climbfind mobile app let's you leverage phone features like GPS and your phone's camera to take the Climbfind experience to a whole new level
 while you're out and about or in the climbing gym!</p>

<div style="background:#FFFCE6;padding:10px;margin:10px;border:solid 1px green">
    <p style="color:Black"><b><i>Status update: 24 Oct 2011</i></b></p>

    <p>Our second 2-week beta testing round at Planet Granite San Francisco & 
    Planet Granite Sunnyvale is kicking off first week of November. If you climb at PG and want to participate contact us at contact@climbfind.com
    . The app is scheduled for release to the public end of November.
    </p>
</div>

<h2>Features</h2>

<style type="text/css">
.features { margin:10px 0 0 20px }
.feature { width:300px;float:left;margin:10px 10px 30px 0px;text-align:center }
.feature img { width:280px;padding:3px;border:solid 0px #d3d3d3 }
.feature h2 { font-size:20px;margin:5px auto 10px auto }
</style>

<div class="features">
<div class="feature"><h2>Nearby Climbing</h2><p>Use your phone's GPS to find indoor and outdoor climbing around you.</p><img src="@Stgs.StaticRt/screenshots/iphone/Search-Climbing.png" /></div>
<div class="feature"><h2>Log climbs</h2><p><i>Check-in</i> and keeps track of what climbs you've done & projects.</p><img src="@Stgs.StaticRt/screenshots/iphone/Log-Climbs.png" /></div>
<div class="feature"><h2>Share experience</h2><p>Read beta, opinions and of course contribute your own.</p><img src="@Stgs.StaticRt/screenshots/iphone/Share-Opinions.png" /></div>
@*<div class="feature"><h2>Explore, Log & Rate Climbs</h2><p>See which climbs you should try & share opinions for other Climbfinders to read.</p><img src="@Stgs.StaticRt/screenshots/iphone/Climbs-In-A-Climbing-Wall.PNG" /></div>
<div class="feature"><h2>View/Share Climbing Media</h2><p>Upload, share and view photos directly from your phone.</p><img src="@Stgs.StaticRt/screenshots/iphone/Planet-Granite-San-Francisco-Photos.PNG" /></div>
<div class="feature"><h2>Search World Climbing</h2><p>Search Climbfind's 6000+ climbing areas, locations & climbs from your phone!</p><img src="@Stgs.StaticRt/screenshots/iphone/Search-For-Indoor-Climbing.PNG" /></div>
*@


</div>

<hr />



</div>
</div>