@inherits cf.Web.Views.Places.PlacesWebViewPage<List<Climb>>
@{ Climb climb = ViewBag.Climb;
   bool contextIsClimb = (climb != null);
   var climbsByGrade = Model.OrderBy(c => c.GradeLocal).ToArray();
   var topClimb = Model.OrderBy(c => c.Rating).Take(5);
   int i = 0; 
  }

<div style="border-top:solid 1px #F3F3F3;padding-top:15px">

<h2>@current.Name climbs, routes & problems</h2>
@if (Model.Count == 0) { 
        <p class="mainAddData">Climbfind does know about the climbs here yet... </p>
        @(Html.ActionCssLink<ClimbsController>(c=>c.ClimbNew(new Guid(current.IDstring)), "Add a climb, route or problem to " + current.Name + " now...", "jBtn"))
}

<div class="main-climb-list">
       
    @foreach (var c in climbsByGrade)
    {
        if (i++ % 6 == 0) { <hr />}
        if (!contextIsClimb || climb.ID != c.ID) {
        <div><span>@if (!string.IsNullOrEmpty(c.GradeLocal)) { @c.GradeLocal } else { <text>Grade unknown</text> }</span>
        
        <a href="@c.SlugUrl"><em>@c.Name</em>
        @if (c.HasAvatar) { <text><img height="40" width="40" alt="thumbnail" src="@(Stgs.ImgsRt+c.AvatarRelativeUrl)"> </text>
            } else { <text><img alt="@c.Name" src="@Stgs.StaticRt/ui/thumb.jpg"> </text>}</a>
            

          @if (c.Rating.HasValue) { @Html.StarImage(c.Rating) } else { <i>Not yet rated</i> }
        </div> 
       
    }
    }
</div>

</div>