@inherits cf.Web.Views.Places.PlacesWebViewPage
@{  Location location = ViewBag.Current;
    ClimbIndoor climb = ViewBag.Climb;
    List<Climb> climbs = ViewBag.OtherClimbs;
    List<Climb> climbsInSection = ViewBag.OtherClimbsInSection;
    List<Climb> climbsSimilar = ViewBag.OtherClimbsSimilar;
    List<LoggedClimb> recentSends = ViewBag.RecentSends;
    List<Opinion> latestOpinions = ViewBag.LatestOpinions;
    LocationSection sec = climb.LocationSection;
    CfPageTitleMaster.Set("Climb {0} at {0}", current.Name); }
    
<div id="col2-left">
        
    <h1>@climb.Name</h1>
    <h6>@@ <b><a href="@location.SlugUrl">@location.Name</a></b>, @Html.Partial("Partials/MainOpinionSummary", climb)</h6>

    <hr />
    @Html.Partial("Partials/MainMediaRoll", climb.SlugUrl)
        
    <div class="climb-content">
        @if (climb.SectionID.HasValue) {<label>Section: </label><span>@(Html.ActionLink<ClimbsController>(c => c.ClimbSectionDetail(location.ID, sec.NameUrlPart), sec.Name))</span>}
        @if (!string.IsNullOrWhiteSpace(climb.LineNumber)) {<label>Line #: </label><span>@climb.LineNumber</span>}
       <label>Type: </label><span>@((ClimbType)climb.ClimbTypeID)</span>
        <label>Grade: </label><span>@climb.GradeLocal (level @climb.GradeCfNormalize)</span>
        @if (climb.MarkingType.HasValue && !string.IsNullOrWhiteSpace(climb.MarkingColor))
        { <label>Marking: </label><span>@climb.MarkingColor (@if (climb.MarkingType == 1) {<i>holds</i>} else {<i>tape</i>})</span> }
         @if (climb.SetDate.HasValue) { <label>Set on: </label><span>@climb.SetDate.Value.ToString("dd MMM")</span>}
        @if (climb.DiscontinuedDate.HasValue) { <div style="color:Red"><label style="color:Red">Pulled down: </label><span>@climb.DiscontinuedDate.Value.ToString("dd MMM")</span></div>}
        @if (!climb.SetterAnonymous && climb.SetterID.HasValue) {<label>Setter: </label><span>@climb.Setter.Initials</span>}
        <label>Tags: </label><span>@climb.ClimbTags.GetCategoriesString()</span>
        <label>Description: </label><span>@if (!string.IsNullOrWhiteSpace(climb.Description)) { @Html.Raw(climb.Description.GetHtmlParagraph()) } else { <i>None given</i> }</span>    
    </div>

    <div class="climb-avatar">
        @if (climb.HasAvatar) { <img src="@(Stgs.ImgsRt + @climb.AvatarRelativeUrl)" />}
        else { <div><p>No pic for this climb yet.<br /></p><img src="@Stgs.StaticRt/ui/AddMedia.png" /></div> }
    </div>
    
    <hr /> 
    <div style="width:33%;float:left">
        <h3>Latest sends</h3>
        <h6>(climbers who finished this climb)</h6>
        @Html.Partial("Partials/MainColumnSendsList", recentSends)
        <hr />
    </div>              
    @if (climb.SectionID.HasValue) {
    <div style="width:33%;float:left"><h3>More nearby</h3>
        <h6>other climbs on @(Html.ActionLink<ClimbsController>(c => c.ClimbSectionDetail(location.ID, sec.NameUrlPart), sec.Name))</h6>
        @Html.Partial("Partials/MainColumnClimbsList", climbsInSection)
            <hr />
    </div>              
    }
    
    <div style="width:33%;float:left"><h3>Similar level</h3>              
        <h6>@((ClimbType)climb.ClimbTypeID) climbs @@ @location.ShortDisplayName</h6>
        @Html.Partial("Partials/MainColumnClimbsList", climbsSimilar)
    <hr />       
    
    </div>
</div>

<div id="col2-right">

    @Html.Partial("Partials/SideMenuClimbOptions")

    @Html.Partial("Partials/SideOpinionsList", new SideOpinionsListModel(climb, latestOpinions))

</div>


